@charset "UTF-8";
/*===============================

　PC

　　header

================================*/
.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 1em;
}
.logo__link {
  text-decoration: none;
}
.logo__title {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-trigger {
  display: flex;
  align-items: center;
}
.nav-trigger__item {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  margin-right: 15px;
}
.nav-trigger__item:hover .drop-down {
  display: block;
}
.nav-trigger__icon {
  width: 30px;
  height: 30px;
  object-fit: scale-down;
}
.nav-trigger__arrow {
  margin-left: 5px;
}

.drop-down {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  min-width: 155px;
  background-color: #fff;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  list-style: none;
}
.drop-down__item {
  padding: 1em;
}
.drop-down__item:hover {
  background: #edf2fa;
  color: #fff;
}
.drop-down__item a {
  text-decoration: none;
}
.drop-down__item--user-name {
  padding: .5em 1em;
  text-align: center;
  font-weight: bold;
  color: #13cec5;
}
.drop-down__item--user-name:hover {
  background: none;
  color: #13cec5;
}

/*===============================

　SP

　　header

================================*/
@media only screen and (max-width: 767px) {
  .global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding-top: 60px;
    background-color: #019cd0;
    transition: all .6s;
    z-index: 3;
    overflow-y: auto;
  }
  .global-nav__user {
    display: flex;
    padding: 0 60px 30px;
  }
  .global-nav__userIcon {
    width: 40px;
    height: 40px;
    background-image: url(/images/img_icon_private.png);
    background-size: cover;
    background-position: center;
  }
  .global-nav__userName {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 25px;
    color: #fff;
  }
  .global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .global-nav__item {
    text-align: center;
    padding: 7px 60px;
  }
  .global-nav__item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #fff;
  }
  .global-nav__item a:hover {
    background-color: #fff;
  }

  .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    z-index: 4;
  }
  .hamburger__line {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 2px;
    background-color: #111;
    transition: all .6s;
  }
  .hamburger__line--1 {
    top: 20px;
  }
  .hamburger__line--2 {
    top: 30px;
  }
  .hamburger__line--3 {
    top: 40px;
  }

  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }

  .nav-open .global-nav {
    right: 0;
  }
  .nav-open .global-nav__item a:hover {
    color: #019cd0;
  }
  .nav-open .black-bg {
    opacity: .8;
    visibility: visible;
  }
  .nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 30px;
    background-color: #fff;
  }
  .nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
  }
  .nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 30px;
    background-color: #fff;
  }
}

/*# sourceMappingURL=header.css.map */
