$color-main: #13cec5;
$color-accent: #689ACA;
$color-bg: #EAEDF2;
$color-footer: #2b546a;
$color-hover: #edf2fa;
$color-th: #9bbace;
$color-txt: #666;
$color-txt--white: #fff;
$color-placeholder-txt: #aaa;
$color-btn--blue: #019cd0;
$color-btn--green: #13cec5;
$color-btn--red: #f76363;
$color-btn--white: #fff;
$color-nav--blue: #7cb9fc;
$color-nav--pink: #ff8db3;
$color-nav--purple: #b2a8e6;
$color-fa--white: #fff;