@charset "UTF-8";
@import "color";

/*===============================

　PC

　　1.common
　　2.basic

================================*/

/*
　1.common
================================*/
.txtField {
  width: 205px;
}
.pullDown {
  &__list {
    width: 205px;
  }
}

/*
　2.basic
================================*/
.basic {
  &__icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__img {
      width: 200px;
      height: 200px;
      background-color: #ddd;
    }
    &__btn {
      padding: 15px 0;
      flex-direction: column;
    }
  }
}

/*===============================

　Tablet

　　1.anchor

================================*/
@media only screen and (max-width: 1024px) {

}

/*===============================

　SP

　　1.common
　　2.anchor

================================*/
@media only screen and (max-width: 767px) {

  /*
  　1.common
  ================================*/
  .txtField {
    width: 100%;
  }
  .pullDown {
    width: 100%;
    &__list {
      width: 100%;
    }
  }
}